# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

executors:
  julia_docker:
    parameters:
      julia_docker_tag:
        type: string
    docker:
      - image: julia:<< parameters.julia_docker_tag >>
  publisher:
    docker:
      - image: cimg/base:stable

jobs:
  test:
    parameters:
      julia_docker_tag:
        type: string
    executor:
      name: julia_docker
      julia_docker_tag: << parameters.julia_docker_tag >>
    steps:
      - run:
          name: Install git and ssh
          command: |
            apt -y update
            apt -y install ssh git

      - checkout

      - restore_cache:
          keys:
            - >
              v2
              julia_artifacts
              << parameters.julia_docker_tag >>
              {{ checksum "Manifest.toml" }}
              {{ checksum "test/Project.toml" }}


      - run:
          name: Install test dependencies
          command: |
            julia --color=yes --project=test -e '
              using Pkg
              pkg"instantiate"
            '
      
      - save_cache:
          key: >
            v2
            julia_artifacts
            << parameters.julia_docker_tag >>
            {{ checksum "Manifest.toml" }}
            {{ checksum "test/Project.toml" }}
          paths:
            - ~/.julia/artifacts
            - ~/.julia/registries

      - run:
          name: Install test dependencies
          command: |
            julia --color=yes --project=test -e '
              using Pkg
              pkg"instantiate"
            '

      - run:
          name: Pkg.test
          command: |
            julia --color=yes --project=@. -e '
              using Pkg
              pkg"test"
            '

  register:
    executor:
      name: publisher
    steps:
      - checkout
      - run:
          name: register
          command: .circleci/registrator.sh

workflows:
  testAndRegister:
    jobs:
      - test:
          matrix:
            parameters:
              julia_docker_tag: ["1.3", "1.4", "1.5"]
          filters:
            tags:
              only: /^candidate_v\d+\.\d+\.\d+.*$/
      - register:
          requires:
            - test
          context: Julia Libraries
          filters:
            tags:
              only: /^candidate_v\d+\.\d+\.\d+.*$/
            branches:
              ignore: /.*/
